 * {
     user-select: none;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
 body {
     background: linear-gradient(90deg, #151b36, #0f111a);
}
 .main {
     padding: 15px;
     margin-top: 7%;
     text-align:center 
}
 .main img {
     border-radius: 100px;
}
 .main h4 {
     color: #e6efff;
     font-size: 22px;
     margin-top: 1%;
     font-family: -apple-system, BlinkMacSystemFont, sans-serif;;
}
 .main p {
     overflow: hidden;
     color: #e3e3e3;
     font-size: 18px;
     font-family: -apple-system, BlinkMacSystemFont, sans-serif;;
     margin: 1%;
     text-align:center;
     max-width: 100%;
}
 .link {
     background: transparent;
     font-family: Arial, Helvetica, sans-serif;
     color: #c7c7c7;
     padding: 10px 20px;
     border: 1px solid #c7c7c7;
     border-radius: 5px;
     font-weight: bold;
     font-size: 15px;
     transition: 0.8s;
     margin: 1%;
     text-decoration: none;
}
 .link:hover{
     background: #c7c7c7;
     color: black;
     transition: 0.8s;
}
 .projects{
     margin: 2%;
}
 .projects h2 {
     margin-top: 5%;
     text-align: center;
     color: white;
     font-family: -apple-system, BlinkMacSystemFont, sans-serif;
     font-size: 25px;
}
.projects p {
     margin-bottom: 1%;
     text-align: center;
     color: grey;
     font-family: -apple-system, BlinkMacSystemFont, sans-serif;
     font-size: 20px;
}
 .column {
     float: left;
     width: 20%;
     padding: 0 10px;
}
 .row {
    margin: 0 -5px;
}
 .row:after {
     content: "";
     display: table;
     clear: both;
}
 .card {
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
     padding: 16px;
     text-align: center;
     background: rgba(209, 209, 209, 0.2);
     border: 2px solid #c7c7c7;
     border-radius: 10px;
     height: auto;
}
 .card h2 {
     color: white;
     font-family: Arial, Helvetica, sans-serif;
     margin: 2%;
}
 .card p {
     color: rgb(206, 206, 206);
     font-family: Arial, Helvetica, sans-serif;
     transition: 1s;
}
 .card p:hover{
     color: white;
}
 .socials {
     margin: auto;
     text-align: center;
     margin: 5%;
}
 .socials .social-link {
     color: white;
     text-decoration: none;
     margin: 1%;
}
 .socials .social-link:hover {
     zoom: 150%;
     text-decoration: none;
     margin: 1.5%;
}
 
